#main_element_container1 {
    width: 100%;
    position: absolute;
    top: -14vw;
    left: 85%;
    filter: blur(1.7px) drop-shadow(0 0 .375rem rgb(184, 34, 167));
    z-index: 90;
}

#main_element_sprite1 {
    width: 11%;
}

#main_element_sprite_dissolve1 {
    position: relative;
    width: 21%;
    top: 1vw;
    left: -17%;
}

#main_element_container2 {
    width: 100%;
    position: absolute;
    top: 40vw;
    left: 85%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(124, 98, 227));
    z-index: 91;
}

#main_element_sprite2 {
    width: 11%;
}

#main_element_sprite_dissolve2 {
    position: relative;
    width: 21%;
    top: 0.5vw;
    left: -16.5%;
}

#main_element_container3 {
    width: 100%;
    position: absolute;
    top: 40vw;
    left: 7%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(24, 137, 129));
    z-index: 92;
}

#main_element_sprite3 {
    width: 11%;
}

#main_element_sprite_dissolve3 {
    position: relative;
    width: 21%;
    top: 0.5vw;
    left: -16.5%;
}

#main_element_container4 {
    width: 100%;
    position: absolute;
    top: 0vw;
    left: 7%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(197, 174, 111));
    z-index: 93;
}

#main_element_sprite4 {
    width: 11%;
}

#main_element_sprite_dissolve4 {
    position: relative;
    width: 21%;
    top: 0.5vw;
    left: -17%;
}


/* animations */

.move_center1 {
    animation-name: move_center1;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 200ms;
}

    @keyframes move_center1 {
        0% {
            transform: translate(0, 100%);
            scale: 10%;
        }

        50% {
            transform: translate(-150%, 160%);

        }

        100% {
            transform: translate(-45%, 280%);
            scale: 100%;
        }
    }

/* .adjust1 {
    animation-name: move_center1_adjusted;
}


@keyframes move_center1_adjusted {
    0% {
        transform: translate(0, 100%);
        scale: 10%;
    }

    50% {
        transform: translate(-150%, 160%);

    }

    100% {
        transform: translate(-45%, 280%);
        scale: 100%;
    }
} */

.move_center2 {
    animation-name: move_center2;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

    @keyframes move_center2 {
        0% {
            transform: translate(-220%, 20%);
            scale: 10%;
        }

        100% {
            transform: translate(-20%, -100%);
            scale: 100%;
    
        }
    }

.move_center3 {
    animation-name: move_center3;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
    @keyframes move_center3 {
        0% {
            transform: translate(-50%, 25%);
            scale: 0%;
        }

        50% {
            transform: translate(-20%, 0%);
        }
    
      
        100% {
          transform: translate(40%, -5%);
          scale: 100%;
          opacity: 0,5;
        }
    }

.move_center4 {
    animation-name: move_center4;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

    @keyframes move_center4 {
        0% {
            transform: translate(10%, 65%);
            scale: 0%;
        }
    
        50% {
            transform: translate(100%, -80%);
    
        }
      
        100% {
          transform: translate(50%, 50%);
          scale: 100%;
        }
      }



.pulse_glow {
    animation-name: pulse_glow;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes pulse_glow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.paused {
    animation-play-state: paused;
}

.hidden {
    opacity: 0;
    z-index: 100;
}

.dissolve {
    opacity: 0;
    filter: blur(10px);
    animation: fadeInBlur 1s ease-out;
}
  
@keyframes fadeInBlur {
    0% {
      opacity: 1;
      filter: blur(0);
    }
    100% {
      opacity: 0;
      filter: blur(10px);
    }
}


/* gifsss */

/* #impact1 {
    width: relative;
    position: relative;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(184, 34, 167));
    display: hidden;
} */

/* #impact2 {
    width: 250%;
    position: absolute;
    top: -28%;
    left: -75%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(124, 98, 227));
    animation-name: pulse_glow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#impact3 {
    width: 250%;
    position: absolute;
    top: -28%;
    left: -75%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(24, 137, 129));
    animation-name: pulse_glow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} */