.ls_container {
    display: flex;
    position: center;
    justify-content: center;
    align-items: center;
}

#ls1 {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 42%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(137, 136, 141));
    animation-name: pulse_glow_ls1;
    animation-duration: 120s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;


}

@keyframes pulse_glow_ls1 {
    0% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        scale: 103%;
        transform: rotate(-1deg);
        opacity: 1;
    }

    100% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 0;
    }
}


#ls2 {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 48%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(137, 136, 141));
    animation-name: pulse_glow_ls2_ls5;
    animation-duration: 90s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;


}

@keyframes pulse_glow_ls2_ls5 {
    0% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        scale: 103%;
        transform: rotate(-1deg);
        opacity: 1;
    }

    100% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 0;
    }
}

#ls3 {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 54%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(137, 136, 141));
    animation-name: pulse_glow_ls3_ls6;
    animation-duration: 60s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;


}

@keyframes pulse_glow_ls3_ls6 {
    0% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        scale: 103%;
        transform: rotate(-1deg);
        opacity: 1;
    }

    100% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 0;
    }
}

#ls4 {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 60%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(137, 136, 141));
    animation-name: pulse_glow_ls4_ls7;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;


}

@keyframes pulse_glow_ls4_ls7 {
    0% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        scale: 103%;
        transform: rotate(-1deg);
        opacity: 0.5;
    }

    100% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 0;
    }
}

#ls5 {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 36%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(137, 136, 141));
    animation-name: pulse_glow_ls2_ls5;
    animation-duration: 90s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;


}

@keyframes pulse_glow_ls2_ls5 {
    0% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        scale: 103%;
        transform: rotate(-1deg);
        opacity: 1;
    }

    100% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 0;
    }
}

#ls6 {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 30%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(137, 136, 141));
    animation-name: pulse_glow_ls3_ls6;
    animation-duration: 60s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;


}

@keyframes pulse_glow_ls3_ls6 {
    0% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        scale: 103%;
        transform: rotate(-1deg);
        opacity: 1;
    }

    100% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 0;
    }
}

#ls7 {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 24%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(137, 136, 141));
    animation-name: pulse_glow_ls4_ls7;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;


}

@keyframes pulse_glow_ls4_ls7 {
    0% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        scale: 103%;
        transform: rotate(-1deg);
        opacity: 0.5;
    }

    100% {
        scale: 100%;
        transform: rotate(0deg);
        opacity: 0;
    }
}

#time_element_container {
    width: 300%;
    top: -40%;
    position: absolute;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(137, 136, 141));
    animation-name: ls_zoom;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    opacity: 0;
}

#time_element_sprite {
    width: 300%;
}


@keyframes ls_zoom {
    0% {
        scale: 450%;
        opacity: 1;
    }

    100% {
        scale: 170%;
        opacity: 1;
    }
} 