#main_char1_cointainer {
    width: 33%;
    position: absolute;
    top: 20%;
    left: 28%;
    filter: invert(1) drop-shadow(0 0 0.75rem rgb(2, 1, 1));
}

#main_char2_cointainer {
    width: 33%;
    position: absolute;
    top: 20%;
    left: 28%;
    filter: blur(1.7px) drop-shadow(0 0 0.75rem rgb(2, 1, 1));
    animation-name: pulse;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        scale: 99%;
    }

    50% {
        scale: 101%
    }

    100% {
        scale: 99%;
    }
}
